@font-face {
  font-family: 'LiberationMono-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('LiberationMono-Regular'), url(http://viel-zu.org/font/LiberationMono-Regular.ttf) format('truetype');
}
